
/*Video styling:*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
/*Video styling ends here*/

/*Responsive design tutorial: */
#container {
    width: 960px;
    margin: 0px auto;
}

.left-column {
    width: 700px;
    float: left;
    background: blue;
}

.right-column{
    width: 260px;
    float: left;
    background: orange;
}

.banner {
    height: 20vw;
    width: 960px;
}

/*View for tables:*/
@media screen and (max-width: 959px) {
    #container {
        width: 100%;
    }

    .banner {
        width: 100%;
    }

    .left-column {
        width: 70%;
    }

    .right-column {
        width: 30%;
    }
}

/*Start working with phones:*/
@media screen and (max-width: 640px) {
    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }
}

/*For really small devices*/
@media screen and (max-width: 320px) {
    #container {
        width: 320px;
    }
}