<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <!--<h1>WILSON COUNTY REPUBLICAN PARTY</h1>-->

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="PATH_TO_MP4" type="video/mp4" />
                <source src="PATH_TO_WEBM" type="video/webm" />
            </video>
            <div class="poster hidden">
                <img src="PATH_TO_JPEG" alt="">
            </div>
        </div>
    </div>

</body>
</html>