<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <!--<h1>WILSON COUNTY REPUBLICAN PARTY</h1>-->

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay="autoplay" loop="loop" class="fillWidth">
                <source src="img/Wavy-presence.mp4" type="video/mp4" /> Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="img/Wavy-presence.webm" type="video/webm" /> Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="img/Wavy-presence.jpg" alt="" />
            </div>
        </div>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>