<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <!--<nav th:replace="fragments/navbar :: navbar-partial"></nav>-->
    <div id="container">
        <img class="banner" src="/img/banner-flag.jpg" alt=""/>
        <section class="left-column">
            This is the left column
        </section>
        <aside class="right-column">
            this is the right column
        </aside>
    </div>


</body>
</html>